<li id="post-<%=post._id%>" class="all-posts">
  <!-- <script>
    console.log("Post fields:", <%= JSON.stringify(post) %>);
  </script> -->

  <div class="post-info">
    <div class="top-part">
      <div class="inside">
        <a href=""><img src="/images/images.png" height="50px" width="50px" alt="" style="border-radius: 50%;"></a>
        <div class="posts-user">
          <small>
            <%= post.user.name %>
          </small>
          <br>
          <small>
            <%= post.createdAt %>
          </small>
        </div>
      </div>

      <div class="like">
        <small>
          <% if (locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= post.likes.length %>"
              href="/likes/toggle/?id=<%=post._id%>&type=Post" style="text-decoration: none;font-size: 20px;
          color:blue">
              <i class="fa-regular fa-thumbs-up"></i>
              <%= post.likes.length %>
            </a>
            <% }else{ %>
              <i class="fa-regular fa-thumbs-up"></i>
              <%= post.likes.length %>
                <% } %>
        </small>
        <% if(locals.user && locals.user.id==post.user.id){ %>
          <small>
            <a class="delete-post-button" href="/posts/destroy/<%=post.id%>" style="text-decoration: none;font-size: 20px;
            color:gray;">
              <i class="fa-solid fa-trash"></i>
            </a>
          </small>
          <% } %>
      </div>
    </div>

    <div class="content1">
      <%= post.content %>
    </div>
  </div>

  <div class="post-comments">
    <div id="post-comments-list">
      <ul id="post-comments-<%=post._id%>" style="list-style-type: none;">
        <% for(comment of post.comments){ %>
          <%- include('_comment') -%>
            <% } %>
      </ul>
    </div>
    <% if(locals.user){ %>
      <form action="/comments/create" id="new-comment-form" method="POST">
        <input type="text" name="content" placeholder="Type Here to add comment... " required class="content">
        <input type="hidden" name="post" value="<%= post._id %>">
      </form>
      <% } %>
  </div>
</li>